html {
  background: url("videoGameTheme.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
@font-face {
    font-family: Coolvetica;
    src: url("coolvetica rg.ttf");
    font-weight:400;
}
h1 {
  text-align: center;
  font-family: Coolvetica;
  font-size: 3.5em;
  color: rgba(223,218,215,.75);
}

p{
  background: black;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 30px;
  color:#39ff14;
}

#row1, #row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#row2{
  margin-bottom: 75px;
}

.gamebutton {
  width: 250px;
  height: 250px;
  /*background: green;*/
  border: 1px solid black;
}

#color0 {
  background: #00a157;
  border-radius: 100% 0 0;
}

#color1 {
  background: #a8000a;
  border-radius: 0 100% 0 0;
}

#color2 {
  background: #f2b001;
  border-radius: 0 0 0 100%;
}

#color3 {
  background: #01649f;
  border-radius: 0 0 100% 0;
}
